anyio==4.8.0
asgiref==3.8.1
Brotli==1.1.0
cffi==1.17.1
click==8.1.8
cmdstanpy==1.2.5
contourpy==1.3.1
cssselect2==0.7.0
cycler==0.12.1
Django==5.1.3
django-environ==0.11.2
django-tree-queries==0.19.0
factory_boy==3.3.1
Faker==33.1.0
fonttools==4.55.3
graphql-core==3.2.6
h11==0.14.0
holidays==0.63
idna==3.10
importlib_resources==6.4.5
inflection==0.5.1
iniconfig==2.0.0
kiwisolver==1.4.7
libcst==1.6.0
markdown-it-py==3.0.0
matplotlib==3.10.0
mdurl==0.1.2
numpy==2.2.0
packaging==24.2
pandas==2.2.3
pillow==11.0.0
pluggy==1.5.0
prophet==1.1.6
pycparser==2.22
pydyf==0.11.0
Pygments==2.19.1
pyparsing==3.2.0
pyphen==0.17.0
pytest==8.3.4
pytest-django==4.9.0
pytest-factoryboy==2.7.0
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
rich==13.9.4
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.2
stanio==0.5.1
starlette==0.45.3
strawberry-graphql==0.258.0
strawberry-graphql-django==0.55.1
tinycss2==1.4.0
tinyhtml5==2.0.0
tqdm==4.67.1
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.2
uvicorn==0.34.0
weasyprint==63.1
webencodings==0.5.1
zopfli==0.2.3.post1
