{% extends 'base.html' %}

{% block alerts %}
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block title %}Sales{% endblock %}

{% block content %}
  <h2 class="mb-4">New Sales</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.sales_data.label_tag }}
      {{ form.sales_data }}
      {% if form.sales_data.help_text %}
        <small class="form-text text-muted">{{ form.sales_data.help_text }}</small>
      {% endif %}
    </div>
    <div class="mb-3">
        {{ form.date.label_tag }}
        {{ form.date }}
        {% if form.date.help_text %}
          <small class="form-text text-muted">{{ form.date.help_text }}</small>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Process Sales</button>
  </form>
{% endblock %}
